.swiper {
    user-select: none;
    padding-top: 92px;
    margin-bottom: 92px;

    @media screen and (max-width: 1439px) {
        padding-top: 35px;
        margin-bottom: 75px;
    }
}

.swiper-slide {
    width: auto !important;
}

.swiper-slide img {
    height: 40px;
}

